@model TestProj.BPMonlineService.Contact

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Update", "Home", FormMethod.Post))
{

        <div class="panel panel-primary" style="margin-right: 5%;">
            <div class="panel-heading">
                <i class="zmdi zmdi-account-circle zmdi-hc-3x"></i><label class="panel-heading" style="font-size: 20px; color: white;">Update Contact</label>
            </div>
            <div class="panel-body">
                <div class="input-field col-md-6">
                    <i class="zmdi zmdi-account-circle prefix"></i>
                    @Html.EditorFor(model => model.Name, new { id = "zmdi-account" })
                    <label for="zmdi-account">Name:</label>
                </div>

                <div class="input-field col-md-6">
                    <i class="zmdi zmdi-phone prefix"></i>
                    @Html.EditorFor(model => model.MobilePhone, new { id = "icon_telephone" })
                    <label for="icon_telephone">Mobile Phone:</label>
                </div>

                <div class="input-field col-md-6">
                    <i class="zmdi zmdi-face prefix"></i>
                    @Html.EditorFor(model => model.Dear, new { id = "zmdi-face" })
                    <label for="zmdi-face">Dear</label>
                </div>

                <div class="input-field col-md-6">
                    <i class="zmdi zmdi-seat prefix"></i>
                    @Html.EditorFor(model => model.JobTitle, new { id = "zmdi-seat" })
                    <label for="zmdi-seat">JobTitle</label>
                </div>

                <div class="input-field col-md-6">
                    <i class="zmdi zmdi-cake prefix"></i>
                    @Html.EditorFor(model => model.BirthDate, new { id = "zmdi-cake" })
                    <label for="zmdi-cake">Birth Date</label>
                </div>


                    <p>

                        <div class="input-field col-md-6" style="text-align: center;">
                            <button class="btn btn-warning waves-effect waves-light" type="submit" value="Update">
                                Edit <i class="zmdi zmdi-edit"></i>
                            </button>
                        </div>
                    </p>
                </div>
        </div>

}

